<head>
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">
</head>

<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<br>
<p><%= content.description %></p>
<br>
<p>Find more in <a href="<%= content.wikipedia_url %>">wikipedia</a></p>


<%- include("partials/footer.ejs") %>